@font-face {
    font-family: "ranker";
    src: url(../fonts/Tanker-Regular.otf);
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.registro-vehiculo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../images/Fondo-RegistroVehiculos.webp);
    background-position: center;
    background-size: cover; 
    color: #fff;
}

.registro-vehiculo form {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 2rem;
    text-transform: uppercase;
}

.registro-vehiculo h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.registro-vehiculo p {
    margin-bottom: 1.5vw;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid rgb(207, 190, 190);
}

.inputbox label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.input:focus~label,
.input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 3vw;
}


.radio-option label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-option label i {
    font-size: 32px;
    margin-bottom: 10px;
}

.registro-vehiculo button {

    width: 50%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 600;
    transition: all 0.4s ease;
    text-transform: uppercase;
}

.registro-vehiculo button:hover {
    background-color: rgba(255, 255, 255, 0.5);

}