@font-face {
    font-family: "ranker";
    src: url(../fonts/Tanker-Regular.otf);
    font-weight: normal;
}


@font-face {
    font-family: "satoshi";
    src: url(../fonts/Satoshi-Regular.otf);
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "satoshi";
}

.Inicio {
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://media-public.canva.com/mQO1s/MADyQ1mQO1s/1/s.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 7vw;
    overflow: hidden;
}

.Inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(10px);
    z-index: -1;
    opacity: 0.9;
}

.Inicio h1 {
    color: white;
    text-align: center;
    font-family: "ranker";
    font-size: 4rem;
    position: absolute;
    left: 45%;
    top: 15%;
}

.Inicio button {
    width: 40%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.4s ease;
    text-transform: uppercase;
    position: absolute;
    left: 10%;
    top: 50%;

}

.Inicio button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;


}

.Inicio button:active {
    background-color: rgba(230, 230, 230, 1);
    color: white;
}

.Servicios {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 22.5vw;
}

.Servicios h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.Servicios div {
    margin: 3vw;
    width: 90%;
}

.Servicios h2 {
    font-size: 1.5rem;

}

.Servicios img {
    margin: 2vw;
    width: 80%;
    border-radius: 10px;
    object-fit: cover;
    filter: drop-shadow(0 20px 15px#0009);

}

.Servicios button {
    margin-top: 2vw;
    font-family: "League Spartan", sans-serif;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 600;
    transition: all 0.4s ease;
    text-transform: uppercase;
    position: static;
}

.Servicios button:hover {
    background-color: rgba(68, 11, 11, 0.5);

}

.Servicios button:active {
    background-color: rgb(63, 1, 1);
}


.registro-vehiculo {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background-image: url(../images/Nuevo-Inicio-Sesion.png);
    background-position: center left;
    background-size: cover;
    z-index: 0;
}

.registro-vehiculo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/Nuevo-Inicio-Sesion.png);
    background-position: center left;
    background-size: cover;
    filter: blur(1.5px);
    z-index: -1;
}


.registro-vehiculo form {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding: 2rem;
    text-transform: uppercase;
}

.registro-vehiculo h1 {
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.registro-vehiculo p {
    margin-bottom: 1.5vw;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid rgb(207, 190, 190);
}

.inputbox label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.input:focus~label,
.input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 3vw;
}


.radio-option label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-option label i {
    font-size: 32px;
    margin-bottom: 10px;
}

.registro-vehiculo button {
    width: 50%;
    height: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 600;
    transition: all 0.4s ease;
    text-transform: uppercase;
}

.registro-vehiculo button:hover {
    background-color: rgba(255, 255, 255, 0.5);

}

.ContenedorVehiculos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 12vw;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vehiculo {
    margin: 1rem;
    padding: 0.5rem 1rem;
    width: 20rem;
    object-fit: fill;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    background-color: #becada;
    color: white;
}


.vehiculo img {
    margin-top: 2vw;
    width: 100%;
    max-width: 15rem;
    filter: drop-shadow(0 20px 15px#0009);
}


.vehiculo h1 {
    font-family: "ranker";
    font-size: 4rem;
    margin-bottom: 0;
    color: #8fa0b7;
}

.vehiculo h2 {
    margin-top: 0;
    font-family: "ranker";
    font-weight: lighter;
    font-size: 2rem;
}

.infoestacionamiento {
    width: 100%;
    font-size: 1rem;
    text-align: center;

}

.infoestacionamiento span {
    text-align: end;
    font-size: 1rem;


}

.filtros {
    padding-top: 2vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.filtros .radio {
    margin-top: 10vw;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.filtros .radio-option label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filtros .radio-option {
    margin: 0.5rem;
    width: 120px;
    height: auto;
    padding: 1rem;
    height: auto;
    object-fit: fill;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    background-color: #becada;
    color: white;
}

.filtros .radio-option label i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #8fa0b7;
}

.buscador {
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem;
    text-align: center;

}


.buscador input {
    width: 50%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: black;
    border-bottom: 2px solid rgb(2, 0, 0);
    margin: 2rem;
    text-transform: uppercase;
    transition: 0.3s ease;
    text-align: center;
}

.buscador input::placeholder {
    text-align: center;
}

#filter-placa:focus {
    border-radius: 5px;
    color: red;
    border-color: #007bff;
    background-color: #f0f8ff;
    outline: none;
}

.buscador button {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(83, 4, 4);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-family: 600;
    transition: all 0.4s ease;
    text-transform: uppercase;
    margin-bottom: 1vw;
    color: white;
}


button:hover, button:active {
    background-color: rgba(54, 18, 18, 0.5);
    color: black;
}

.salida {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    position: relative;

}

.salida img {
    width: 100%;
    height: 25rem;
    object-fit: cover;

}

.botones {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.vehiculo-1 {
    margin: 1rem;
    padding: 0.5rem 1rem;
    width: 15rem;
    min-height: 15rem;
    object-fit: fill;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    isolation: isolate;
    overflow: hidden;
    background-color: #becada;
    color: white;
}


.vehiculo-1 h1 {
    font-family: "ranker";
    font-size: 4rem;
    margin-bottom: 0;
    color: #8fa0b7;
}

.vehiculo-1 h2 {
    margin-top: 0;
    font-family: "ranker";
    font-weight: lighter;
    font-size: 2rem;
}
.vehiculo-1 .info {
    gap: 15rem;
}

.infestacionamiento {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.botones {
    display: flex;
    flex-wrap: wrap;
}

.botones button {
    width: 50%;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    background-color: #8fa0b7;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.4s ease;
    text-transform: uppercase;
    color: white;
}

.botones button:hover {
    background-color: rgba(112, 16, 16, 0.5);

}

.botones button:active {
    background-color: rgb(65, 0, 0);
}



.inputbox {
    position: relative;
    margin-bottom: 20px;
}

.inputbox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.inputbox label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.inputbox input:focus~label,
.inputbox input:valid~label {
    top: -20px;
    font-size: 12px;
    color: #333;
}

button.actualizar {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button.actualizar:hover {
    background-color: #45a049;
}

.historial{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contenedorHistorial{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 21vw;
}

.responsive{
    display: block;
}

@media screen and (min-width:800px){
    main {
        display:none;
    }
    .responsive{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../images/Nuevo-Inicio-Sesion.png);
        margin: auto;
        color: white;
    }
}

@media screen and (max-width:350px){
    main {
        display:none;
    }
    .responsive{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../images/Nuevo-Inicio-Sesion.png);
        margin: auto;
        color: white;
    }
}